# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments & Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDE and OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Streamlit config/cache
.streamlit/

# Temporary data / logs
*.log
